/* CSS Reset */

*{
    margin: 3px;
    padding: 4px;
    /* outline: 1px solid black; */
}


#wrapper{
    margin: 10px;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

button{
    width: 80px;
}