
#wrapper{
    width: 400px;
}

#mid-con{
    display: flex;

}

#header{
    display: flex;
    justify-content: space-between;
}

p,input,label,textarea{
    margin-left: 5px;
}
/* .mid-item{
    margin-right: 5px;
    margin-left: 5px;
} */